@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  background-color: "#1ft2026";
}

/* Sets everything to a height and width of 100% so it takes up the 
   entire page, the font family and the background color 
  */
